{% extends "layout.html" %}

{% block title %}
index 
{%endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">LOGO</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <section class="container m-3">
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="img" name="img">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <button type="submit" class="btn btn-light" id="submitBtn" name="submit" value="submit">Light</button>
    </section> -->

    <form action="/" method="POST" enctype="multipart/form-data">
        <section class="container m-3">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="img" name="img">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
            <button type="submit" class="btn btn-light" id="submitBtn" value="Upload">Light</button>
        </section>
    </form>
    <table>

        {{data_display}}
        
        {% for i in data_display %}
        <tr>
            <td>{{i['invoice_no']}}</td>
            <td>{{i['name of seller']}}</td>
            <td>{{i['cgst_amount']}}</td>
            <td>{{i['sgst_amount']}}</td>
            <td>{{i['bill_amount']}}</td>
            <td>{{i['date']}}</td>
            <td>{{i['category of expense from']}}</td>
        </tr>
        {% endfor %}
        
        
    </table>

{% endblock %} 