{% extends "layout.html" %}

{% block title %}
login 
{%endblock %}

{% block body %}

<body>
	<div class="container-fluid d-flex justify-content-center align-items-center p-5">
		{% if message %}
		<p>{{ message }}</p>
		{% endif %}
				<div class="screen">
			<div class="screen__content">
				<form class="login" action="login" method="post">
					<h1 class="login-title">Finance Management</h1>
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input class="login__input" type="text" id="username" name="username" placeholder="User name / Email">
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input class="login__input" type="password" id="password" name="password" placeholder="Password">
					</div>
					<button class="button login__submit" type="submit" value="Login">
						<span class="button__text">Log In Now</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>

	
{% endblock %}